<%- include('header.ejs') %>
<div class="container">
    <h1>Welcome to <%= appName %></h1>    
    <p>Para ver el contenido debe hacer <a href="/login">Login</a></p>


</div>
<%- include('footer.ejs') %>